{:paths   ["src" "resources"]
 :deps    {org.clojure/clojure {:mvn/version "1.12.0"}
           org.clojure/tools.namespace {:mvn/version "1.5.0"}
           integrant/integrant {:mvn/version "0.12.0"}
           djblue/portal {:mvn/version "0.57.3"}
           com.nextjournal/beholder {:mvn/version "1.0.2"}

           ;; Exclude SLF4J logging backends to ensure only logback is used
           org.clojure/tools.deps.alpha {:mvn/version "0.6.480", :exclusions [org.slf4j/slf4j-nop]}
           ch.qos.logback/logback-classic {:mvn/version "1.2.11"}

           org.lwjgl/lwjgl                 {:mvn/version "3.3.6"}
           org.lwjgl/lwjgl$natives-linux   {:mvn/version "3.3.6", :native-prefix ""}
           org.lwjgl/lwjgl$natives-macos   {:mvn/version "3.3.6", :native-prefix ""}
           org.lwjgl/lwjgl$natives-windows {:mvn/version "3.3.6", :native-prefix ""}

           org.lwjgl/lwjgl-opengl                 {:mvn/version "3.3.6"}
           org.lwjgl/lwjgl-opengl$natives-linux   {:mvn/version "3.3.6", :native-prefix ""}
           org.lwjgl/lwjgl-opengl$natives-macos   {:mvn/version "3.3.6", :native-prefix ""}
           org.lwjgl/lwjgl-opengl$natives-windows {:mvn/version "3.3.6", :native-prefix ""}

           org.lwjgl/lwjgl-glfw                 {:mvn/version "3.3.6"}
           org.lwjgl/lwjgl-glfw$natives-linux   {:mvn/version "3.3.6", :native-prefix ""}
           org.lwjgl/lwjgl-glfw$natives-macos   {:mvn/version "3.3.6", :native-prefix ""}
           org.lwjgl/lwjgl-glfw$natives-windows {:mvn/version "3.3.6", :native-prefix ""}

           org.lwjgl/lwjgl-stb                 {:mvn/version "3.3.6"}
           org.lwjgl/lwjgl-stb$natives-linux   {:mvn/version "3.3.6", :native-prefix ""}
           org.lwjgl/lwjgl-stb$natives-macos   {:mvn/version "3.3.6", :native-prefix ""}
           org.lwjgl/lwjgl-stb$natives-windows {:mvn/version "3.3.6", :native-prefix ""}}

 :aliases {:test {:extra-paths ["env/test"]
                  :extra-deps  {lambdaisland/kaocha {:mvn/version "1.63.998"}}}

           :dev  {:main-opts   ["-m" "nrepl.cmdline" "-i" "--port" "34001"]
                  :extra-paths ["env/dev"]
                  :extra-deps  {nrepl/nrepl {:mvn/version "1.3.0"}
                                org.joml/joml  {:mvn/version "1.10.5"}}}

           :bin/lwjgl-version {:main-opts ["bin/lwjgl-version.clj"]}}}
