{:program  :perspective
 :position [0.0 0.0 0.0]
 :assets   {:textures ["textures/container.jpg"]
            :indices  []
            :vertices [{:coordinates [-0.5 -0.5 -0.5] :color [1.0 0.0 1.0] :texture [0.0 0.0]}
                       {:coordinates [ 0.5 -0.5 -0.5] :color [1.0 0.0 0.0] :texture [1.0 0.0]}
                       {:coordinates [ 0.5  0.5 -0.5] :color [1.0 1.0 0.0] :texture [1.0 1.0]}
                       {:coordinates [ 0.5  0.5 -0.5] :color [1.0 0.0 0.0] :texture [1.0 1.0]}
                       {:coordinates [-0.5  0.5 -0.5] :color [1.0 0.0 1.0] :texture [0.0 1.0]}
                       {:coordinates [-0.5 -0.5 -0.5] :color [1.0 0.0 0.0] :texture [0.0 0.0]}

                       {:coordinates [-0.5 -0.5  0.5] :color [1.0 0.0 0.0] :texture [0.0 0.0]}
                       {:coordinates [ 0.5 -0.5  0.5] :color [1.0 0.0 1.0] :texture [1.0 0.0]}
                       {:coordinates [ 0.5  0.5  0.5] :color [1.0 0.0 1.0] :texture [1.0 1.0]}
                       {:coordinates [ 0.5  0.5  0.5] :color [1.0 0.0 0.0] :texture [1.0 1.0]}
                       {:coordinates [-0.5  0.5  0.5] :color [1.0 0.5 0.0] :texture [0.0 1.0]}
                       {:coordinates [-0.5 -0.5  0.5] :color [1.0 0.0 0.0] :texture [0.0 0.0]}

                       {:coordinates [-0.5  0.5  0.5] :color [1.0 0.0 0.0] :texture [1.0 0.0]}
                       {:coordinates [-0.5  0.5 -0.5] :color [1.0 0.0 0.0] :texture [1.0 1.0]}
                       {:coordinates [-0.5 -0.5 -0.5] :color [1.0 0.0 0.0] :texture [0.0 1.0]}
                       {:coordinates [-0.5 -0.5 -0.5] :color [1.0 0.5 0.0] :texture [0.0 1.0]}
                       {:coordinates [-0.5 -0.5  0.5] :color [1.0 0.0 0.0] :texture [0.0 0.0]}
                       {:coordinates [-0.5  0.5  0.5] :color [1.0 0.0 0.0] :texture [1.0 0.0]}

                       {:coordinates [ 0.5  0.5  0.5] :color [1.0 0.0 0.0] :texture [1.0 0.0]}
                       {:coordinates [ 0.5  0.5 -0.5] :color [1.0 0.5 0.0] :texture [1.0 1.0]}
                       {:coordinates [ 0.5 -0.5 -0.5] :color [1.0 0.0 0.0] :texture [0.0 1.0]}
                       {:coordinates [ 0.5 -0.5 -0.5] :color [1.0 0.0 1.0] :texture [0.0 1.0]}
                       {:coordinates [ 0.5 -0.5  0.5] :color [1.0 0.5 1.0] :texture [0.0 0.0]}
                       {:coordinates [ 0.5  0.5  0.5] :color [1.0 0.0 0.0] :texture [1.0 0.0]}

                       {:coordinates [-0.5 -0.5 -0.5] :color [1.0 0.0 0.0] :texture [0.0 1.0]}
                       {:coordinates [ 0.5 -0.5 -0.5] :color [1.0 0.0 0.0] :texture [1.0 1.0]}
                       {:coordinates [ 0.5 -0.5  0.5] :color [1.0 0.0 0.0] :texture [1.0 0.0]}
                       {:coordinates [ 0.5 -0.5  0.5] :color [1.0 0.0 0.0] :texture [1.0 0.0]}
                       {:coordinates [-0.5 -0.5  0.5] :color [1.0 0.0 0.0] :texture [0.0 0.0]}
                       {:coordinates [-0.5 -0.5 -0.5] :color [1.0 0.0 0.0] :texture [0.0 1.0]}

                       {:coordinates [-0.5  0.5 -0.5] :color [1.0 0.0 0.0] :texture [0.0 1.0]}
                       {:coordinates [ 0.5  0.5 -0.5] :color [1.0 0.0 0.0] :texture [1.0 1.0]}
                       {:coordinates [ 0.5  0.5  0.5] :color [1.0 0.0 0.0] :texture [1.0 0.0]}
                       {:coordinates [ 0.5  0.5  0.5] :color [1.0 0.0 0.0] :texture [1.0 0.0]}
                       {:coordinates [-0.5  0.5  0.5] :color [1.0 0.0 0.0] :texture [0.0 0.0]}
                       {:coordinates [-0.5  0.5 -0.5] :color [1.0 0.0 0.0] :texture [0.0 1.0]}]}}
