{:glfw/window {:title                          "Epictectus engine"
               :width                          800
               :height                         600
               :display                        :fullscreen
               :mode/cursor                    :cursor/normal
               :mode/sticky-keys               false
               :hint.window/visible            false
               :hint.window/resizable          true
               :hint.context/version.maj       4
               :hint.context/version.min       3
               :hint.context/gl.profile        :gl.profile/core
               :hint.context/gl.forward-compat true}

 :gl/engine {:context #ig/ref :glfw/window
             :programs [{:name     :default
                         :layout   [:vec3f/coordinates :vec3f/color :vec2f/texture]
                         :pipeline [[:vertex "shaders/default.vert"]
                                    [:fragment "shaders/default.frag"]]}]}}
