{:window {:title                          "Epictectus engine"
          :width                          800
          :height                         600
          :display                        :windowed
          :mode/cursor                    :cursor/normal
          :mode/sticky-keys               false
          :hint.window/visible            false
          :hint.window/resizable          true
          :hint.context/version.maj       3
          :hint.context/version.min       3
          :hint.context/gl.profile        :gl.profile/core
          :hint.context/gl.forward-compat true}

 :shaders  {:foo {:path "shaders/default.vert" :stage :shader.stage/vertex}
                   :bar {:path "shaders/default.frag" :stage :shader.stage/fragment}}

 :programs {:light/source [:foo :bar]
                   :basic        [:foo :baz]}

 }
