{:glfw/window {:title                          "Epictectus engine"
               :width                          800
               :height                         600
               :display                        :windowed
               :mode/cursor                    :cursor/normal
               :mode/sticky-keys               false
               :hint.window/visible            false
               :hint.window/resizable          true
               :hint.context/version.maj       3
               :hint.context/version.min       3
               :hint.context/gl.profile        :gl.profile/core
               :hint.context/gl.forward-compat true}

 :gl/shaders  {:vert/default {:path "shaders/default.vert"
                              :stage :shader.stage/vertex}
               :frag/default {:path "shaders/default.frag"
                              :stage :shader.stage/fragment}}

 :gl/programs {:light/source [:vert/default :frag/default]
               :basic        [:vert/default :frag/default]}

 :gl/vaos     {:vao/default [{:key  :vertices
                              :size 3
                              :type :float}
                             {:key :color
                              :size 4
                              :type :float}
                             {:key :texture
                              :size 2
                              :type :float}]}}
