{:program  :sprite
 :position [0.0 0.0 -50.0]
 :scale    0.15
 :anim/duration  1.12
 :anim/frames    4
 :anim/start     0.0
 :assets   {:textures ["textures/hero.png"]
            :vertices [{:coordinates [0.0 0.0 0.0]   :color [1.0 0.0 1.0] :texture [[0.0 0.0]
                                                                                    [0.362318841 0.0]
                                                                                    [0.724637681 0.0]
                                                                                    [0.362318841 0.0]]}

                       {:coordinates [0.0 64.0 0.0]  :color [1.0 0.0 1.0] :texture [[0.0 0.463768115942029]
                                                                                    [0.362318841 0.463768115942029]
                                                                                    [0.724637681 0.463768115942029]
                                                                                    [0.362318841 0.463768115942029]]}

                       {:coordinates [38.0 64.0 0.0] :color [1.0 0.0 1.0] :texture [[0.275362319 0.463768115942029]
                                                                                    [0.637681159 0.463768115942029]
                                                                                    [1.0 0.463768115942029]
                                                                                    [0.637681159 0.463768115942029]]}

                       {:coordinates [0.0 0.0 0.0]   :color [1.0 0.0 1.0] :texture [[0.0 0.0]
                                                                                    [0.362318841 0.0]
                                                                                    [0.724637681 0.0]
                                                                                    [0.362318841 0.0]]}

                       {:coordinates [38.0 64.0 0.0] :color [1.0 0.0 1.0] :texture [[0.275362319 0.463768115942029]
                                                                                    [0.637681159 0.463768115942029]
                                                                                    [1.0 0.463768115942029]
                                                                                    [0.637681159 0.463768115942029]]}

                       {:coordinates [38.0 0.0 0.0]  :color [1.0 0.0 1.0] :texture [[0.275362319 0.0]
                                                                                    [0.637681159 0.0]
                                                                                    [1.0 0.0]
                                                                                    [0.637681159 0.0]]}]}}
