{:program  :default
 :position [0.0 0.0 -5.0]
 :assets     {:indices  []
              :vertices [{:coordinates [-0.5 -0.5 0.0] :color [0.0 0.0 1.0] :texture [0.0 0.0]}
                         {:coordinates [-0.5  0.5 0.0] :color [0.0 1.0 0.0] :texture [0.0 0.0]}
                         {:coordinates [ 0.5  0.5 0.0] :color [1.0 0.0 0.0] :texture [0.0 0.0]}]}}
