{:glfw/window {:title                          "Epictectus engine"
               :width                          1920
               :height                         1080
               :display                        :windowed
               :mode/cursor                    :cursor/normal
               :mode/sticky-keys               false
               :hint.window/visible            false
               :hint.window/resizable          true
               :hint.context/version.maj       4
               :hint.context/version.min       3
               :hint.context/gl.profile        :gl.profile/core
               :hint.context/gl.forward-compat true}

 :gl/engine {:context #ig/ref :glfw/window
             :programs [{:name     :default
                         :layout   [:vec3f/coordinates :vec3f/color :vec2f/texture]
                         :pipeline [[:vertex "shaders/default.vert"]
                                    [:fragment "shaders/default.frag"]]}
                        {:name     :sprite
                         :layout   [:vec3f/coordinates :vec3f/color :vec2f/texture]
                         :pipeline [[:vertex "shaders/sprite.vert"]
                                    [:fragment "shaders/default.frag"]]}
                        {:name     :sprite12
                         :layout   [:vec3f/coordinates :vec3f/color :vec2f/texture]
                         :pipeline [[:vertex "shaders/sprite12.vert"]
                                    [:fragment "shaders/default.frag"]]}]}}
