{:glfw/window {:title                          "Epictectus engine"
               :width                          1920
               :height                         1080
               :display                        :windowed
               :mode/cursor                    :cursor/normal
               :mode/sticky-keys               false
               :hint.window/visible            false
               :hint.window/resizable          true
               :hint.context/version.maj       4
               :hint.context/version.min       3
               :hint.context/gl.profile        :gl.profile/core
               :hint.context/gl.forward-compat true}

:gl/engine {:context #ig/ref :glfw/window}}
